# Reset All eltsnap_v2 Tables

Use this notebook to initialize all tables in the 'eltsnap_v2' database (Project Configuration data)

**Step 1** - Connect to the database: **eltsnap_v2**

**Step 2** - Run the following stored procedure:

In [ ]:
EXEC [dbo].[Reset All Tables] 'Yes';